/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Styles */
:root {
    /* Font Family */
    --Headings: Poppins, sans-serif;
    --Subheadings: Poppins, sans-serif;
    --Body: Inter, sans-serif;
    --Nav: Poppins, sans-serif;

    /* Colors */
    --h1: #f09c4b;
    --Background: #010000;
    --Primary: #F6A55A;
    --DeepSpaceBlue:  #071A4A;
    --Navy: #04112E;
    --White: #FFFFFF;
    --PurpleAccent: #6B4AA8;
    --BlueAccent: #0d4766;
    --DarkAccent: #02080c;
}

/* Global Styles */
body {
    background-color: var(--Background);
}

footer {
    background-color: var(--BlueAccent);
}

#contact {
    background-color: var(--DarkAccent);
}

h1, h2, h3, h4 {
    font-family: var(--Headings);
    color: var(--White);
}

h2 {
    font-size: 1.75rem;
    padding: 1.25rem 3rem;

}

#courseIntro h2, #intro h2 {
    color: var(--h1);
    font-weight: bold;
    padding: 1.25rem 3rem;
}

p {
    font-family: var(--Body);
    color: var(--White);
    font-size: 1rem;
}

img {
    max-width: 300px;
    height: auto;
}

body {
    margin: 0;
    background-color: var(--Background);
}

/* Navigation Styles */
.mainHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/planewaveBack.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}

.beginnerHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/godoMilk.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}

.deepHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/horseFlame.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}

.ldtHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/LDT.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}

.lunarHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Moon.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}

.planetHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Saturn.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}

.remoteHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Planewave1M.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}

.solarHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/SunHa.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}



#headerTop {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    justify-content: center;

}

#observatory-name {
    font-size: 1.25rem;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    color: var(--h1);
    font-weight: bold;
    padding: 1.25rem 0;
}

#headerContent {
    display: flex;
    flex-direction: column;
    margin-top: 18rem;
    padding-left: 3rem
}

#headerContent p {
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: var(--White);
    font-family: var(--Nav);
    font-weight: bold;  
    font-size: 1.25rem;
}

header a img {
    filter: brightness(0) invert(1);
    height: 75px;
    width: auto;
    justify-self: start;
    padding: 1.5rem 2.5rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2.5rem;
}

header button {
    padding: 0.75rem 2rem;
    margin: 1.5rem 2.5rem;
    border-radius: 20px;
    background-color: var(--Primary);
    border: none;
    color: var(--White);
    font-size: 1rem;
    font-weight: 700;
    justify-self: end;
}

/* Course Section Styles */
#courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 3rem;
}

.card {
    display: flex;
    overflow: hidden;
    border-radius: 12px;
}

.card a{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

.card img {
    min-width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
    background: linear-gradient(to bottom, #000000, #2b2b2b);
}

.button {
    margin-top: auto;
    align-self: flex-start;
}

h3 {
    font-size: 1.75rem;
    padding: 1.25rem 1rem;
}

#courses p {
    font-size: 0.75rem;
    padding: 0 1rem 1.25rem 1rem;
    line-height: 1.5;
    flex: 1;
}

#courses span {
    background-color: var(--Primary);
    border-radius: 20px;
    text-align: center;
    padding: 0.75rem 8rem;
    margin: auto;
    align-self: center;
    color: var(--White);
    font-family: var(--Nav);
}

/* Introduction Section Styles */
#intro p {
    padding: 0 3rem 1.25rem 3rem;
    width: 70ch;
    line-height: 1.5;
}

/* Crew Section Styles */

#crewSection p {
    padding: 0 3rem 1.25rem 3rem;
    text-align: center;
}

#crew {
    display: grid;
    grid-template-rows: repeat(5, 350px);
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--DeepSpaceBlue);
    border-bottom: 2px solid rgba(255, 255, 255, 0.12);
}

.bio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.bio h3 {
    font-size: 2rem;
}

#crew img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

/* Gallery Section Styles */
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto;
    padding: 1.5rem;
    justify-items: center;
    gap: 1.5rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: linear-gradient(to bottom, #000000, #2b2b2b);
    padding: 1rem;
    border-radius: 12px;
    height: 100%;
    justify-content: center;
}

#gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Course Details Section Styles */
#courseDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 3rem 1.5rem 2rem 0;
}

#courseIntro {
    display: flex;
    flex-direction: column;
}

#courseIntro p {
    padding-left: 3rem;
    line-height: 1.5rem;
}

#courseDetails ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#details {
    display: flex;
    flex-direction: column;
}

#courseDetails ul li {
    color: var(--White);
}

.enrollButton {
    background-color: var(--Primary);
    border-radius: 20px;
    text-align: center;
    padding: 0.75rem 4rem;
    margin: auto;
    align-self: center;
    color: var(--White);
    font-family: var(--Nav);
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

/* Footer Styles */

footer section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
}

footer h3 {
    padding: 4rem 0 0 0;
}

#socialMedia {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem 4rem 3rem;
    align-items: center;
}

#socialMedia p {
    width: 40ch;
    line-height: 2;
    font-weight: 200;
}

#socialMedia ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

#socialMedia ul li a {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--White);
    border-radius: 50%;
    text-decoration: none;
    color: var(--White);
}

#aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutUs ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#aboutUs ul li a {
    text-decoration: none;
    color: var(--Primary);
}

#workWithUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#workWithUs ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#workWithUs ul li a {
    text-decoration: none;
    color: var(--Primary);
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1.25rem 1rem;
}

#hours {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#hours a {
    text-decoration: none;
    color: var(--Primary);
    font-family: var(--Nav);
    font-size: 0.75rem;
}

#contactInfo {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
    justify-content: center;
}

#contactInfo p {
    color: var(--Primary);
}

footer button {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--BlueAccent);
    border-radius: 50%;
    text-decoration: none;
    color: rgb(177 227 255);
    border: none;
    font-size: 1.5rem;
}





