/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Styles */
:root {
    /* Font Family */
    --Headings: Poppins, sans-serif;
    --Subheadings: Poppins, sans-serif;
    --Body: Inter, sans-serif;
    --Nav: Poppins, sans-serif;

    /* Colors */
    --Background: #010000;
    --Primary: #F6A55A;
    --DeepSpaceBlue:  #071A4A;
    --Navy: #04112E;
    --White: #FFFFFF;
    --PurpleAccent: #6B4AA8;
    --BlueAccent: #0d4766;
    --DarkAccent: #02080c;
}

/* Global Styles */
body {
    background-color: var(--Background);
}

footer {
    background-color: var(--BlueAccent);
}

#contact {
    background-color: var(--DarkAccent);
}

h1, h2, h3, h4 {
    font-family: var(--Headings);
    color: var(--White);
}

p {
    font-family: var(--Body);
    color: var(--White);
}

img {
    max-width: 300px;
    height: auto;
}

/* Navigation Styles */